@model List<DAL.Entities.Orders>
@{
    ViewData["Title"] = "WishList";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
    string[] table_header = new string[]{ "Order ID","Created Date", "Total Amount", "Action" };
}
<div class="breadbg">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/account">Account</a></li>
                <li><a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/wishlist">Order History</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="account-wishlist" class="container acpage">
    <div class="row">
        <div id="content" class="col-sm-8 col-md-9 col-xs-12 colright">
            <div class="infobg">
                <h1>Order History</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                @foreach(var head in table_header)
                                {
                                    <td>@head</td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var Data in Model)
                                    {
                                        <tr>
                                            <td>@Data.ID</td>
                                            <td>@Data.CreatedDate</td>
                                            <td>@Data.Total</td>
                                            <td class="text-center valign">
                                                <a href="@Url.Action("Details","OrderDetail",new {id=Data.ID})" data-toggle="tooltip" title="View Order" class="btn btn-info"><i class="fa fa-shopping-cart"></i></a>
                                                <a href="#" data-toggle="tooltip" title="Remove Order" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-right"><a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/account" class="btn btn-primary">Continue</a></div>
                </div>
            </div>
        </div>
        <aside id="column-right" class="col-sm-4 col-md-3 col-xs-12 hidden-xs">
            <div class="list-group accolumn">


                <h3><svg class="" width="20px" height="20px"> <use xlink:href="#acluser"></use> </svg>ACCOUNT SETTINGS</h3>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/account" class="list-group-item">My Account</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/edit" class="list-group-item">Edit Account</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/password" class="list-group-item">Password</a>

                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/address" class="list-group-item">Address Book</a>
                <hr>
                <h3><svg class="" width="20px" height="20px"> <use xlink:href="#aclorder"></use> </svg>MY ORDERS </h3>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/order" class="list-group-item">Order History</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/download" class="list-group-item">Downloads</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/return" class="list-group-item">Returns</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/transaction" class="list-group-item">Transactions</a>
                <hr>
                <h3><svg class="" width="20px" height="20px"> <use xlink:href="#aclufolder"></use> </svg>MY STUFF</h3>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/wishlist" class="list-group-item">Wish List</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/recurring" class="list-group-item">Recurring payments</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/reward" class="list-group-item">Reward Points</a>
                <a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/newsletter" class="list-group-item">Newsletter</a>
                <hr>
                <h3 class="acl"><svg class="" width="20px" height="20px"> <use xlink:href="#aclogout"></use> </svg><a href="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/logout" class="list-group-item logu">Logout</a></h3>
            </div>
        </aside>
    </div>
</div>




