@using DAL
@model DAL.Entities.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}
@functions {
    public string GetUserName(string userId)
    {
        FRMDbContext _dbContext = new FRMDbContext();
        var user = _dbContext.Users.Where(x => x.Id == userId).FirstOrDefault();
        return user.Name;
    }
}
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="@Url.ActionLink("Index","Home")"><i class="fa fa-home"></i></a></li>
            <li><a href="@Url.ActionLink("Category","Home")">meats &amp; sea foods</a></li>
            <li><a href="@Url.ActionLink("Details","Product")">@Model.Name</a></li>
        </ul>
    </div>
</div>
<div id="product-product" class="container">

    <div class="row">

        <div id="content" class="col-xs-12">
            <div class="productbg">
                <div class="row">
                    <div class="col-sm-6 col-lg-5 col-md-6 col-xs-12 proimg sticky">
                        <ul class="thumbnails">
                            <li>
                                <a class="thumbnail" href="@Url.Content(Model.imgPath)" title="@Model.Name">
                                    <img src="@Url.Content(Model.imgPath)" width="700" height="600" id="zoom_03" class="img-responsive center-block" alt="image">
                                </a>
                            </li>
                            <div class="row">

                    </div>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-6 col-xs-12 col-sm-6 pro-content">
                    <h1>@Model.Name</h1><hr class="producthr">
                    <div class="rating">
                        <li>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        </li>
                        <li class="proreview">
                            <a id="ratecount" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>
                        </li>
                        <li>
                            <a id="ratep" href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                        </li>
                    </div>
                    <hr class="producthr">
                    <div class="pro_count">
                        <div class="row rless">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 cless product-price">
                                <ul class="list-unstyled">

                                    <li>
                                        <span class="text-decor">Price:</span>
                                        <h2 data-update='price-44' class="price">$@Model.Price</h2>
                                    </li>




                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 cless product-timer text-right">
                            </div>
                        </div>
                    </div>
                    <hr class="producthr">
                    <ul class="list-unstyled">
                        <div class="row rless">
                            <div class="col-md-8 col-sm-8 col-xs-12 cless prod-detail">
                       
                       
                        <li class="stock_bg">
                            <span class="text-decor">Availability:</span>
                                        @if (Model.isAvailable == true)
                                        {
                                <span class="bg-success">
                                    In Stock
                                </span>
                                        }
                                        else
                                        {
                                <span class="bg-danger">
                                    Out of Stock
                                </span>
                                        }
                        </li>
                        <li><span class="text-decor"></span> </li>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 cless prod-image text-right hidden-xs">
                </div>
            </div>
            </ul>

            <div id="product">
                <div class="webi-main">
                    <div class="form-group pro-qty">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 op-box qty-plus-minus">
                                <button type="button" class="form-control pull-left btn-number btnminus" disabled="disabled" data-type="minus" data-field="quantity">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <input type="number" name="quantity" value="1" size="2" id="input-quantity-@Model.ID" class="form-control input-number pull-left" />
                                <input type="hidden" name="product_id" value="@Model.ID" />
                                <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 product-btn text-right">
                                <div class="button-group">
                                    <div class="absbtn">
                                            <button type="button" data-loading-text="Loading..." class="btn pcrt add-to-cart btn-primary" onclick="addToCart(@Model.ID)">add to cart</button>
                                                                                            <form width="5px" method="post" asp-action="AddToWishList" asp-controller="Home" id="addToWishListForm">
                                                            <input type="hidden" name="id" value="@Model.ID" />
                                                <button type="submit" class="btn pcrt btn-primary" onclick="submitForm(event)"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                                                        </form>









                                    </div>
                                    <script>
                                        function submitForm(event) {
                                            event.preventDefault();
                                            var form = event.target.closest('form');
                                            var formData = new FormData(form);
                                            fetch(form.action, {
                                                method: 'POST',
                                                body: formData
                                            })
                                                .then(function (response) {
                                                    if (response.ok) {
                                                        // Show success message as a popup
                                                        Swal.fire({
                                                            icon: 'success',
                                                            title: 'Item added to Wish List!',
                                                            showConfirmButton: false,
                                                            timer: 1500
                                                        }).then(function () {
                                                            // Reload the page after the popup is closed
                                                            location.reload();
                                                        });
                                                    }
                                                });
                                        }
                                    </script>

                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
                                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


                                </div>
                                </div>


                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
            @if (Model.Comments == null)
                {
                    <li><a href="#tab-review" data-toggle="tab">Comments (0) </a></li>
                }
            else
                {
                <li><a href="#tab-review" data-toggle="tab">Reviews (@Model.Comments.Count(x => x.isDeleted==false)) </a></li>
                }
            
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-description">
            <div>
                MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don&rsquo;t lose inches and pounds overnight. It&rsquo;s the result of rethinking conventions. Of multiple wireless innovations. And of breakthrough design. With MacBook Air, mobile computing suddenly has a new standard.
            </div>
        </div>
        <div class="tab-pane" id="tab-review">
            <div>
                    <form action="@Url.Action("Create","Comment")" method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset id="comment">
                            <legend>Write your comment</legend>
                            <div class="form-group required">
                                <div class="col-md-12 col-xs-12">
                                    <input type="hidden" name="productId" value="@Model.ID" />
                                    <input type="text" name="content" id="input-name" class="form-control" />
                                    <input style="margin:10px 0px; background:blue;" class="btn btn-primary btn-lg" type="submit" value="Send" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                            @if (Model.Comments != null)
                            {
                                foreach (var comment in Model.Comments)
                                {
                                    if (comment.isDeleted == false)
                                    {
                                        <div>@GetUserName(comment.UserId)</div>
                                            <div> 
                                                <form action="@Url.Action("Update","Comment")" method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
                                                <div class="form-group required">
                                                <div class="col-md-12 col-xs-12">
                                                <input type="hidden" name="ID" value="@comment.ID" />
                                                <input type="hidden" name="productId" value="@Model.ID" />
                                                <input type="text" value="@comment.Content" name="content" id="input-name" class="form-control" />
                                                @if (GetUserName(comment.UserId)==Accessor.HttpContext.Session.GetString("_Name"))
                                                {
                                                <input style="margin:10px 0px; background:orange;" class="btn btn-primary btn-lg" type="submit" value="Update" />
                                                <span id="confirmDeleteSpan_@comment.ID" style="display:none">
                                                    <span>Are you sure you want to delete?</span>
                                                    <a href="@Url.Action("DeleteComment","Comment", new{commentId = comment.ID, productId = comment.ProductId})" title="Delete" class="btn btn-danger cbt;" style="background:red;">Yes</a>
                                                    <button type="button" class="btn btn-primary" onclick="confirmDelete('@comment.ID',false)">No</button>
                                                </span>
                                                <span id="deleteSpan_@comment.ID">
                                                    <button type="button" style="background:red;" class="btn btn-primary btn-lg" onclick="confirmDelete('@comment.ID',true)">Delete</button>
                                                </span>
                                                }
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                    }

                                }
                            }
            </div>
        </div>
</div>
<!-- relatedproduct -->
      </div></div>
<script type="text/javascript">
    // Used to appear warning when delete a comment
    function confirmDelete(uniqueId, isDeleteClicked){
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if(isDeleteClicked){
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else{
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>
<script type="text/javascript">
        <!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript">
        <!--
    $('#button-cart').on('click', function () {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-cart').button('loading');
            },
            complete: function () {
                $('#button-cart').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('#content').parent().before('<div class="a-one"><div class="alert alert-success alert-dismissible alertsuc"><svg width="20px" height="20px"> <use xlink:href="#successi"></use> </svg> ' + json.success + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                    setTimeout(function () {
                        $('#cart > button').html('<svg><use xlink:href="#hcart"></use></svg><span id="cart-total">' + json['total'] + '</span>')
                    }, 100);
                    $('.a-one').delay(5000).fadeOut();
                    $('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li')
                    $("button.close").click(function () {
                        $(".a-one").remove();
                    })
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript">
        <!--
    $('.date').datetimepicker({
        language: 'en-gb',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: 'en-gb',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: 'en-gb',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<!--for product quantity plus minus-->
<script type="text/javascript">
    //plugin bootstrap minus and plus
    $(document).ready(function () {
        $('.btn-number').click(function (e) {
            e.preventDefault();
            var fieldName = $(this).attr('data-field');
            var type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {
                    var minValue = parseInt(input.attr('min'));
                    if (!minValue) minValue = 1;
                    if (currentVal > minValue) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == minValue) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {
                    var maxValue = parseInt(input.attr('max'));
                    if (!maxValue) maxValue = 999;
                    if (currentVal < maxValue) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == maxValue) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            var minValue = parseInt($(this).attr('min'));
            var maxValue = parseInt($(this).attr('max'));
            if (!minValue) minValue = 1;
            if (!maxValue) maxValue = 999;
            var valueCurrent = parseInt($(this).val());
            var name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }
        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== - 1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>

<script type="text/javascript">
        <!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index535a.html?route=product/product/review&amp;product_id=44');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id=44',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function () {
        $('.thumbnails').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>
<!-- related -->
<!-- related over -->
<!-- zoom product start -->
<!-- zoom product start -->
<script>
    if (jQuery(window).width() >= 1200) {
        //initiate the plugin and pass the id of the div containing gallery images
        $("#zoom_03").elevateZoom({ gallery: 'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: '' });
        //pass the images to Fancybox
        $("#zoom_03").bind("click", function (e) {
            var ez = $('#zoom_03').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });
    }
</script>
<!--ZOOM END-->
<script type="text/javascript">
        <!--
    // Webi Timer
    $(document).ready(function () {
        $('.wb_product_countdown').each(function () {

            $.wbCountDownTimer($(this));
        });
    });
    $.wbCountDownTimer = (function (event) {
        setInterval(function () {
            var countDownDate = new Date($(event).data("date")).getTime();
            var now = new Date().getTime();
            var distance = countDownDate - now;
            $(event).find('.wb_countdown_days .wb_countdown_days_digit').text(Math.floor(distance / (1000 * 60 * 60 * 24)));
            $(event).find('.wb_countdown_hours .wb_countdown_hours_digit').text(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
            $(event).find('.wb_countdown_minutes .wb_countdown_minutes_digit').text(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
            $(event).find('.wb_countdown_seconds .wb_countdown_seconds_digit').text(Math.floor((distance % (1000 * 60)) / 1000));
            if (distance < 0) {
                clearInterval(x);
                $(event).text("EXPIRED");
            }
        }, 1000);
    });
    --></script>


<!--over slider for product-->